# Dependencies
node_modules/

# Build output
dist/
.wrangler/

# Environment files
.env
.env.local
.env.production

# Logs
*.log
npm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Wrangler
.wrangler/
.dev.vars